.branch_list {
    .branch_item + .branch_item {
        margin-top: 12px;
    }
    .branch_link {
        display: block;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 5px 6px rgba(#000, 0.1);
        padding: 15px;
        @include text-hidden-single;
        font-size: 16px;
        font-weight: 600;
        padding-right: 40px;
        position: relative;
        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(../images/arrow_black_right.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}