.icon1 {
    border-radius: 4px;
    width: 22px;
    height: 22px;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    &._red {
        background-color: $c_red;
        color: #fff;
    }
    @at-root .f_btn & {
        position: absolute;
        right: -14px;
        top: -10px;
    }
}
.icon2 {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    &._red {
        background-color: $c_red;
        color: #fff;
    }
}