

#container {
    padding-top: 80px;
    padding-bottom: 30px;
    &.ty_report {
        padding-bottom: 0;
        .contents {
            padding-bottom: 0;
        }
    }
}
.contents {
    padding: 15px;
    padding-top: 20px;
}
.inner {
    padding: 0 15px;
}

.sec {
    & + & {
        margin-top: 30px;
    }
}

.sticky_bot {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
    padding: 12px 0;
    background-color: $c_bg2;
    z-index: 99;
}
.hd_company {
    display: flex;
    column-gap: 15px;
    margin-left: auto;
    padding: 15px;
    background-color: color.scale($c_bg2, $lightness:-3%);
    &_item {
        width: 197px;
        height: 40px;
        background-color: #fff;
        border-radius: 7px;
        color: $c_font2;
        &.select-box {
            //border: none;
            color: $c_font2;
            input {
                color: $c_font2;
            }
        }
        &.dep1 {
            padding: 0 15px;
            font-size: $fz_4;
            @include text-hidden-single;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 30px;
                height: 30px;
                background-image: url(../images/ico_home.svg);
                background-repeat: no-repeat;
                background-position: center center;

            }
        }
    }
}

.sub_tit {
    margin-bottom: 20px;
}

.bd_box {
    border: 1px solid $c_line;
    &.ty_small {
        padding: 15px;
        border-radius: 8px;
    }
    &.ty_big {
        padding: 32px;
        border-radius: 8px;
        @include mobile {
            padding: 16px;
        }
    }
}

.bg_box {
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
}


.chart_box {
    width: 100%;
    height: 240px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}



.detail_wrap {
    margin: 0 -30px;
    padding: 30px ;
    background-color: $c_bg;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mobile {
        margin: 0 -20px;
        padding: 20px;
        margin-top: 20px;
        padding: 20px;
        gap: 16px;
    }
}

.detail_sec {
    box-shadow: 0 2px 4px rgba(#000, .08);
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    border: 1px solid $c_line;
    
    &.ty_line {
        box-shadow: none;
        border: 1px solid $c_line;
    }
    .sticker {
        position: absolute;
        font-size: 12px;
        padding: 0 8px;
        border-radius: 8px 0 8px 0;
        left: 0;
        top: 0;
        &._black {
            background-color: #000;
            color: #fff;
        }
    }
    &_tit {
        font-size: 15px;
        border-bottom: 1px solid $c_line;
        padding: 14px 14px 10px;
        font-weight: 600;
    }
    &_cont {
        padding: 14px;
    }
    &_info {
        padding: 14px;
        border-radius: 0 0 8px 8px;
        &._red {
            background-color: $c_red3;
            color: $c_red2;
        }
        &._yellow {
            background-color: $c_yellow2;
            color: $c_yellow;
        }
        
    }
}
.chk_list {
    &_item {
        & + & {
            margin-top: 8px;
        }
       .f_chk, .f_radio {
            display: flex;
            border: 1px solid $c_line;
            border-radius: 8px;
            padding: 10px 12px;
       }
    }
}