.login {
    &_wrap {
        height: calc(100dvh - 30px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #fff;
        padding: 40px 0;
        &::before {
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 49%;
            background-color: $c_key;

        }
    }
    &_cont {    
        position: relative;
        z-index: 10;
        max-width: 652px;
        width: 100%;
    }
    &_logo {
        padding: 0 40px;
        margin-bottom: 30px;
        text-align: center;
        img {
            max-width: 400px;
            width: 100%;
        }
    }
    &_form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
        border-radius: 20px;
        background-color: rgba(#fff,20%);
        .f_input {
            background-color: color.scale($c_key, $lightness: 92%);
            color: $c_font;
            
            &::placeholder {
                color: $c_font2;
            }
            &:focus {
                background-color: color.scale($c_key, $lightness: 92%);
            }
        }
    }
}
