.nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    background-color: $c_key;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    
    transition: right 0.3s ease-in-out;
    &.on {
        left: 0;
        box-shadow: 0 0 12px rgba(#000, .4);
    }

    &_top {
        height: 80px;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        position: relative;
        background-color: $c_key;
        &_logo {
            width: 80px;
            height: 80px;
            background: url(../images/logo_nav.svg) center center no-repeat;
            background-size: 40px;
            
        }
        .nav_close {
            width: 40px;
            height: 40px;
            //background-color: $c_key4;
            //border-radius: 50%;
            
            background-repeat: no-repeat;
            background-position: center center;
            
                background-image: url(../images/ico_close.svg);
                background-color: color.scale($c_key, $lightness:-20%);
                border-radius: 50%;
            
        }
    }
    &_wrap {
        flex: 1;
        overflow-y: auto; 
        //scrollbar-gutter: stable;  
        &::-webkit-scrollbar {
            width: 16px;
            
        }
        &::-webkit-scrollbar-thumb {
            background-color:#fff;
            
            background-clip: padding-box;
            width: 100%;
            box-sizing: border-box;
            border: 5px solid transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(#fff, .1);
            
        }      
    }
    &_list {
        
        &.dep2 {
            display: none;
            .tag_new {
                margin-left: 8px;
            }
        }
        .tag_new {
            padding: 0 8px;
            height: 22px;
            background-color: rgba(#fff,.2);
            color: #fff;
            border-radius: 4px;
            font-size: 13px;
            font-weight: 600;
            display: flex;
            align-items: center;
        }
    }
    &_dep1 {
        
        &.on {
            .nav_btn.dep1 {
                background-color: $c_key2;  
            }
        }
    }
    &_ico {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center center;
        &.ty_monitoring {
            background-image: url(../images/icon_Monitoring.svg);
        }
        &.ty_facility {
            background-image: url(../images/icon_FacilityManagement.svg);
        }
        &.ty_work {
            background-image: url(../images/icon_ManagementOfWorkPerformed.svg);
        }
        &.ty_emergency {
            background-image: url(../images/icon_EmergencyManagement.svg);
        }
        &.ty_account {
            background-image: url(../images/icon_AccountManagement.svg);
        }
        &.ty_material {
            background-image: url(../images/icon_MaterialManagement.svg);
        }
        &.ty_statistic {
            background-image: url(../images/icon_Statistics.svg);
        }
        &.ty_notification {
            background-image: url(../images/icon_Notification.svg);
        }
        &.ty_setting {
            background-image: url(../images/icon_Setting.svg);
        }
        &.ty_cert {
            background-image: url(../images/icon_Cert.svg);
        }
    }
    &_btn {
        &.dep1 {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            background-color: $c_key3;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            column-gap: 8px;
            &::after {
                content:'';
                width: 25px;
                height: 25px;
                margin-left: auto;
                background-image: url(../images/nav_arrow.svg);
                background-repeat: no-repeat;
                background-position: center center;
                transform: rotate(-90deg);
            }
        }
        /*
        &.dep2 {
            display: flex;
            height: 38px;
            align-items: center;
            font-size: 14px;
            color: rgba(#fff,.6);
            background-color: #0C59D8;
            
            position: relative;
            padding: 0 16px 0 21px;
            &::before {
                content:'';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: rgba(#fff,.6);
                margin-right: 18px;
            }
            
                &:hover {
                    background-color: #0A4DD1;
                    color: #fff;
                    &::before {
                        background-color: #fff;
                    }
                }
            
            &.on {
                background-color: #0536C5;
                color: #fff;
                &::before {
                    background-color: #fff;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background-color: #fff;
                    left: 0;
                    top: 0;
                }
            }
        }
        */
    }
}