
.report {
    &_wrap {
        padding: 20px 15px;
        padding-bottom: 50px;
        background-color: #fff;
        margin: 0 -15px;
       
        margin-top: 20px;
        .sec + .sec {
            margin-top: 40px;
        }
        .card_item + .card_item {
            margin-top: 12px;
        }
    }

    &_tit {
        text-align: center;
        font-size: $fz_8;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &_tit2 {
        font-size: $fz_7;
        font-weight: bold;
        margin-bottom: 15px;
    }
    &_tbl {
        table-layout: fixed;
        td, th {
            border: 1px solid $c_line;
            font-size: $fz_3;
            padding: 8px 6px;
            text-align: center;
            color: $c_font;
        }
        thead {
            th {
                background-color: color.scale($c_key, $lightness:90%) 
            }
        }
        tbody {
            th {
                background-color: color.scale($c_key3, $lightness:95%) 
            }
        }
    }
    &_card_list {
        .list_item + .list_item {
            margin-top: 26px;
        }
        .list_tit {
            font-size: $fz_5;
            margin-bottom: 10px;
        }
        
        .fm_card_top {
            font-size: 15px;
            padding-right: 40px;
        }
    }
    &_img_list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        li {
            width: calc((100% / 5) - (((5 - 1)/4)*6px));
            aspect-ratio: 1/1;
            background-color: $c_bg;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.tab_list2 {
    display: flex;
    
    .tab_btn {
        flex: 1;
        font-size: 15px;
        
        text-align: center;
        padding: 10px 5px;
        color: $c_font2;
        font-weight: 500;
        border-bottom: 1px solid $c_line2;
        
        &.on {
            font-weight: bold;
            border-bottom: 1px solid $c_key3;
            color: $c_key3;
            background-color: $c_bg2;
        }
    }  
}

