@use "sass:color";

/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* 공통 */

@import "./mixins";
@import "./variables";
@import "./reset";

/* layout */
@import "./footer";
@import "./header";
@import "./nav";
@import "./layout";

/* pages */
@import "./login";
@import "./branch_list";
@import "./admin_menu";
@import "./monitoring";

/* templates */
@import "./btns";
@import "./form";
@import "./select_box";
@import "./title";
@import "./datepicker";
@import "./modal";
@import "./table";

